.game {
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
}

.h3 {
  overflow-y: hidden;
}

.scoreboard {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 95px);
  justify-content: center;
  width: 100%;
}

.p {
  background-color: var(--lowground-bg-color);
  box-shadow: var(--lowground-shadow);
}

.playgroundContainer {
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.playground {
  display: grid;
  position: relative;
  justify-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--lowground-bg-color);
  box-shadow: var(--lowground-shadow);
}

.gameOver {
  position: absolute;
  z-index: 3;
  font-size: 1.7em;
  font-weight: 700;
  color: var(--primary-text-color);
  text-transform: uppercase;
  background-color: var(--bg-color);
  box-shadow: var(--highground-shadow);
  padding: 10px;
  border-radius: 10px;
  animation: gameOver 300ms ease-in-out;
}

.tilebase {
  width: 100%;
  height: 100%;
  background-color: var(--tilebase-bg-color);
  box-shadow: var(--tilebase-shadow);
}

.tile {
  text-shadow: var(--secondary-text-shadow);
  color: var(--tile-color);
  position: absolute;
}

.secondHalf {
  font-size: clamp(0.25em, 0.7em, 0.75em);
}

.buttonRestart {
  width: inherit;
  height: inherit;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-text-color);
  background-color: transparent;
  cursor: pointer;
}

.buttonRestart:active {
  transform: scale(97%);
  color: var(--secondary-text-color);
}

.buttonContainer {
  justify-content: center;
  width: 150px;
  height: 50px;
}

.buttonContainer:active {
  background-color: var(--lowground-bg-color);
  box-shadow: var(--lowground-shadow);
}

.buttonRestart,
.buttonContainer {
  border-radius: 10px;
}

.buttonRestart,
.buttonContainer,
.buttonRestart:hover,
.buttonContainer:hover {
  transition: 100ms;
}

h3,
p {
  width: 100%;
  margin: 0;
  padding: 5px 0;
}
.tile,
.tilebase {
  text-align: center;
  align-content: center;
}

.tile,
.buttonRestart {
  user-select: none;
}

.tileNumber,
.tile {
  transition: 100ms;
}

.game,
.playground {
  width: fit-content;
}

.tile,
.tilebase,
.secondHalf {
  font-weight: 700;
}

.game,
.playground,
.scoreboard {
  gap: 10px;
}

p,
.tile,
.tilebase,
.playground {
  border-radius: 10px;
}

.game,
.score,
.moves,
.buttonContainer {
  display: flex;
}

.game,
.score,
.moves,
.playground,
.buttonContainer {
  flex-direction: column;
  align-items: center;
}

@keyframes rainbow {
  0% {
    background-color: rgba(255, 0, 0, 0.6);
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
  }
  16% {
    background-color: rgba(255, 0, 255, 0.6);
    box-shadow: 0 0 10px 0 rgba(255, 0, 255, 0.5);
  }
  33% {
    background-color: rgba(0, 0, 255, 0.6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 255, 0.5);
  }
  49% {
    background-color: rgba(0, 255, 255, 0.6);
    box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.5);
  }
  66% {
    background-color: rgba(0, 255, 0, 0.6);
    box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.5);
  }
  83% {
    background-color: rgba(255, 255, 0, 0.6);
    box-shadow: 0 0 10px 0 rgba(255, 255, 0, 0.5);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.6);
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
  }
}

@keyframes spawn {
  0% {
    opacity: 0%;
    transform: scale(60%);
  }
  24% {
    opacity: 0%;
    transform: scale(60%);
  }
  25% {
    opacity: 60%;
    transform: scale(60%);
  }
  100% {
    opacity: 100%;
    transform: scale(100%);
  }
}

@keyframes gameOver {
  0% {
    transform: scale(0%);
  }
  100% {
    opacity: 100%;
    transform: scale(100%);
  }
}
