.themeboard button {
  width: fit-content;
  height: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: inherit;
  transition: 340ms;
}

.themeboard button:hover {
  transition: 340ms;
  transform: translateY(-5px);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.themeboard {
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 50px;
  margin: 10px 0;
}
